.app__social {
 display: flex;
  top: 12rem;
  position: fixed;
  z-index: 1000;
  right:2px;
  flex-direction: column;
}
.app__social div {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: white;
  margin: 0.5rem;
  border: 1px solid lightGray;

  display: flex;
  justify-content: center;
  align-items: center;

  transition: all 0.3s ease-in-out;
}

.app__social div svg {
  width: 20px;
  height: 20px;
  color: rgb(13, 24, 190);
}

.app__social div svg:hover {
  color: blueviolet;
  transform-style: preserve-3d;
  transform: scale(1.5);
}
